body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;

    display: flex;
    justify-content: space-between;
    padding: 16px 50px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #cbcccf;
}